.main{
    margin: 20px;
}
.confirmed-wrap{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}
.confirmed-head{
    padding: 10px;
}
.confirmed-head-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.confirmed-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.confirmed-head-left h3{
    margin-right: 20px;
    font-weight: 900;
}
.confirmed-head-left p{
    color: gray;
    font-weight: 700;
}
.confirmed-content{
    height: 400px;
}
.issues-wrap{
    background-color: white;
    border-radius: 20px;
}
.issues{
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}
.issues-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.issues-left h3{
    margin-right: 20px;
    font-weight: 900;
}
.issues-left p{
    color: gray;
    font-weight: 700;
}
